<p>clients works!</p>


<button mat-fab  color="second" (click)="load()"><mat-icon>home</mat-icon></button>
<button mat-fab  color="primary" (click)="add()"><mat-icon>add</mat-icon></button>

<table class="mat-elevation-z8" mat-table [dataSource]="dataSource"  
    matSort  #sort="matSort">

    <ng-container matColumnDef="customerId" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by customerId" > id customer </th>
      <td mat-cell *matCellDef="let element">{{element.customerId}}</td>
    </ng-container>

    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by customerName" > nom customer </th>
      <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
    </ng-container>

    <ng-container matColumnDef="branchCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by branchCode"> Code Agence </th>
      <td mat-cell *matCellDef="let element">{{element.branchCode}}</td>
    </ng-container>


    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="viewClient(element)">
          <mat-icon color="green" aria-label="view" >view</mat-icon>
        </button> 
        <button mat-icon-button (click)="editClient(element)">
          <mat-icon color="accent" aria-label="Edit" >edit</mat-icon> 
        </button>
        <button mat-icon-button  (click)="deleteClient(element.customerId)">
          <mat-icon color="grey" aria-label="Delete">delete</mat-icon>
        </button> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [length]="100"   [pageSize]="10"   [pageSizeOptions]="[5, 10, 25, 100]"    aria-label="Select page"> </mat-paginator>
